<div class="card">
    <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
</div>
<div class="header">
    <img src="../../../assets/img/logo-blanco.webp" alt="applabs">
    <div class="card flex justify-content-center">
        <p-toast></p-toast>
        <button pButton class="p-button-secondary p-button-outlined" type="button" (click)="navigateTo()" icon="pi pi-angle-double-left"></button>
    </div>
</div>
<div class="container">
    <div class="form-wrapper">
            <h1 class="form-wrapper--title">Crear Informe de Análisis</h1>
            <div class="form--inputs">
                <div class="row">
                    <div class="form--inputs-fields">
                        <label for="informe">Informe N:</label>
                        <input pInputText type="text" id="informe" [(ngModel)]="num_informe" name="num_informe">
                    </div>
                    <div class="form--inputs-fields">
                        <label for="solicitado">Solicitado Por:</label>
                        <input pInputText type="text" id="solicitado" [(ngModel)]="solicitado" name="solicitado">
                    </div>
                    <div class="form--inputs-fields">
                        <label for="procedencia">Procedencia de la muestra:</label>
                        <input pInputText type="text" id="procedencia" [(ngModel)]="procedencia" name="procedencia">
                    </div>

                    <div class="form--inputs-fields">
                        <label for="procedencia">Fecha recepción muestra:</label>
                        <p-calendar [(ngModel)]="fecha_recepcion" name="fecha_recepcion" id="fecha_recepcion" placeholder="Fecha recepción muestra:"></p-calendar>
                    </div>

                    <div class="form--inputs-fields">
                        <label for="procedencia">Fecha del Análisis:</label>
                        <p-calendar [(ngModel)]="fecha_analisis" name="fecha_analisis" id="fecha_analisis" placeholder="Fecha del Análisis:"></p-calendar>
                    </div>
                </div>

                <div class="row">

                    <div class="form--inputs-fields">
                        <label for="procedencia">Fecha Emisión resultados:</label>
                        <p-calendar [(ngModel)]="fecha_emision" name="fecha_emision" id="fecha_emision" placeholder="Fecha Emisión resultados:"></p-calendar>
                    </div>

                    <div class="form--inputs-fields">
                        <label for="direccion">Dirección laboratorio:</label>
                        <input pInputText type="text" id="direccion" [(ngModel)]="direccion" name="direccion">
                    </div>
    
                    <div class="form--inputs-fields">
                        <label for="lote">LOTE/ ORDEN/ CODIGO DE LA MUESTRA:</label>
                        <input pInputText type="text" id="lote" [(ngModel)]="lote" name="lote">
                    </div>
    
                    <div class="form--inputs-fields">
                        <label for="descripcion">DESCRIPCIÓN DE LA MUESTRA:</label>
                        <input pInputText type="text" id="descripcion" [(ngModel)]="descripcion" name="descripcion">
                    </div>

                </div>

                <div class="row">
                    <div class="form--inputs-fields">
                        <p-dropdown [options]="opciones" optionLabel="name" placeholder="Seleccione una opción" [(ngModel)]="opcion1" name="opcion1"></p-dropdown>
                        <input pInputText type="text" id="descripcion" [(ngModel)]="valoropcion1" name="valoropcion1">
                    </div>
    
                    <div class="form--inputs-fields">
                        <p-dropdown [options]="opciones" optionLabel="name" placeholder="Seleccione una opción" [(ngModel)]="opcion2" name="opcion2"></p-dropdown>
                        <input pInputText type="text" id="descripcion" [(ngModel)]="valoropcion2" name="valoropcion2">
                    </div>
    
                    <div class="form--inputs-fields">
                        <p-dropdown [options]="opciones" optionLabel="name" placeholder="Seleccione una opción" [(ngModel)]="opcion3" name="opcion3"></p-dropdown>
                        <input pInputText type="text" id="descripcion" [(ngModel)]="valoropcion3" name="valoropcion3">
                    </div>
                </div>

                <div class="row">
                    <div class="form--inputs-fields">
                        <p-dropdown [options]="opciones" optionLabel="name" placeholder="Seleccione una opción" [(ngModel)]="opcion4" name="opcion4"></p-dropdown>
                        <input pInputText type="text" id="descripcion" [(ngModel)]="valoropcion4" name="valoropcion4">
                    </div>
    
                    <div class="form--inputs-fields">
                        <p-dropdown [options]="opciones" optionLabel="name" placeholder="Seleccione una opción" [(ngModel)]="opcion5" name="opcion5"></p-dropdown>
                        <input pInputText type="text" id="descripcion" [(ngModel)]="valoropcion5" name="valorvaloropcion5opcion3">
                    </div>
    
                    <div class="form--inputs-fields">
                        <p-dropdown [options]="metodos" optionLabel="name" placeholder="Seleccione un método" [(ngModel)]="metodo" name="metodo"></p-dropdown>
                    </div>
                </div>

                <div class="row">
                    <div class="form--inputs-fields">
                        <label for="estandar">Estándar (si aplica):</label>
                        <input pInputText type="text" id="estandar" [(ngModel)]="estandar" name="estandar">
                    </div>
    
    
                    <div class="form--inputs-fields">
                        <label for="observaciones">Observaciones:</label>
                        <textarea pInputTextarea id="observaciones" [(ngModel)]="observaciones" name="observaciones"></textarea>
                    </div>

                    <div class="form--inputs-fields">
                        <label for="emitido">Informe emitido por:</label>
                        <input pInputText type="text" id="emitido" [(ngModel)]="emitido" name="emitido">
                    </div>
                </div>

                <div class="form--text">
                    <button pButton type="submit" (click)="createPdf()">Crear reporte</button>
                </div>
            </div>
    </div>
</div>