@import '../../../assets/styles/variables.scss';

.header {
    background-color: $blue-principal-color;
    color: $white-principal-color;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    img {
        width: 75px;
        height: 45px;
        margin-right: 30px;
    }

    button {
        ::ng-deep {
            .p-button-icon {
                color: $white-principal-color;
            }
        }
    }
}
.container {
    height: 93%;
    background: $cian-principal-color;

    .form-wrapper {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    
        .form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            &--inputs{
                width: 45%;
                margin: auto;
        
                &-fields {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin: 0 10px 10px 0;
    
                    p-inputnumber {
                        ::ng-deep {
                            span {
                                width: 100%;
                            }
                        }
                    }
                }
        
            }
        
            &--text{
                margin: auto;
                text-align: center;
        
                &-fields {
                    display: flex;
                    flex-direction: column;
                    width: 100%!important;
                    margin: 0 10px 10px 0;
                }

                button {
                    width: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    margin-top: 2rem;
                }
            }
        }
    }
}

p-messages {
    position: absolute;
    right: 0;
    z-index: 3;

    ::ng-deep {
        .p-messages {
            .p-message {
                margin: 0;
            }
        }
    }
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

label {
    font-size: 15px;
}

::ng-deep {
    .p-calendar .p-inputtext {
        width: auto !important;
    }
}
