@import '../../../assets/styles/variables.scss';

.header {
    background-color: $blue-principal-color;
    color: $white-principal-color;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    img {
        width: 75px;
        height: 45px;
        margin-right: 30px;
    }

    button {
        ::ng-deep {
            .p-button-icon {
                color: $white-principal-color;
            }
        }
    }
}

.container {
    margin: auto;
    background: $cian-principal-color;

    .cards {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 15px auto;
    }
}