@import '../../../assets/styles/variables.scss';

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-box {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    border: 1px $blue-principal-color;
    box-shadow: 1px 2px 9px 0px $blue-principal-color;

    img {
        width: 100px;
        display: flex;
        margin: auto;
    }

    .input {
        width: 100% !important;
    }
}

.form-group {
    margin-bottom: 15px;
}

p-password {
    ::ng-deep {
        .p-password {
            width: 100%;
            .p-inputtext {
                width: 100%;
            }
        }
    }
}

p-messages {
    position: absolute;
    right: 0;
    z-index: 3;

    ::ng-deep {
        .p-messages {
            .p-message {
                margin: 0;
            }
        }
    }
}


label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: sans-serif;
}


button {
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    display: flex;
    margin: auto;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.bodylogin {
    background-image: url('../../../assets/img/bg-img.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: brightness(0.5);
}