<div class="card">
    <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
</div>

<div class="header">
    <img src="../../../assets/img/logo-blanco.webp" alt="applabs">
    <div class="card flex justify-content-center">
        <p-toast></p-toast>
        <button pButton class="p-button-secondary p-button-outlined" type="button" (click)="navigateTo()" icon="pi pi-angle-double-left"></button>
    </div>
</div>

<div class="container">
    <div class="info-container">
        <h1 class="info-container--title">Creación de Ensayo</h1>

        <div class="info-container--items">

            <p-card class="p-card-content">
                <h2>Lista de proyectos</h2>
                <div class="list-wrapper">
                    <p-listbox
                        [options]="projects"
                        [(ngModel)]="projectSelected"
                        (click)="selectProject()"
                        optionLabel="name">
                    </p-listbox>
                </div>
            </p-card>

            <p-card class="p-card-content">
                <h2>Datos de creación</h2>
                <form
                    class="form"
                    [formGroup]="formulario" (ngSubmit)="submitForm()">
                    <div class="form--inputs">
                        <div class="form--inputs-fields">
                            <label for="proyecto">Proyecto:</label>
                            <input pInputText type="text" id="proyecto" formControlName="project">
                        </div>
                        <div class="form--inputs-fields">
                            <label for="test">Ensayo #</label>
                            <input pInputText type="text" id="id" formControlName="test">
                        </div>
                        <div class="form--inputs-fields">
                            <label for="procedimiento">Procedimiento</label>
                            <textarea pInputTextarea id="finalidadMuestras" formControlName="procedimiento"></textarea>
                        </div>
                    </div>
                    <button pButton type="submit" [disabled]="!formulario.valid">Enviar</button>
                </form>
            </p-card>
        </div>

    </div>


    <div class="tabs-container">
        <p-tabView (onChange)="addTabs($event)" [scrollable]="true">
            <p-tabPanel
                #plusTab header=" + "
                [selected]="true"
                (click)="addTabs($event)"
                (touch)="addTabs($event)">
            </p-tabPanel>
            <p-tabPanel
                [header]="item.title"
                focus
                *ngFor="let item of tabs; let i = index">
                <div class="card--wrapper">
                    <p-toolbar styleClass="mb-4 gap-2">
                        <ng-template pTemplate="left">
                            <!-- <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"></button>
                            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input
                                    pInputText type="text" placeholder="Consultar"
                                    (input)="onSearch($event)" />
                            </span>
                        </ng-template>
                
                        <ng-template pTemplate="right">
                            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Importar" chooseLabel="Importar" class="mx-4 inline-block"></p-fileUpload>
                            <button pButton pRipple label="Ingredientes" icon="pi pi-plus" class="mx-4 p-button-success" (click)="openNew()"></button>
                            <button pButton pRipple label="Limpiar" (click)="cleanProducts()" class="mx-4 p-button-danger"></button>
                        </ng-template>
                    </p-toolbar>
                
                    <p-table
                        [value]="AllInventory"
                        responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}"
                        selectionMode="multiple"
                        [(selection)]="selectedProducts"
                        [metaKeySelection]="true"
                        dataKey="codigo"
                        responsiveLayout="scroll">
                
                        <ng-template pTemplate="header">
                            <tr>
                                <th [ngStyle]="{'color': title.style }" *ngFor="let title of columnName">{{ title.header }}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-AllInventory let-rowIndex="rowIndex">
                            <tr [pSelectableRow]="AllInventory" [pSelectableRowIndex]="rowIndex">
                                <!-- <td>{{AllInventory.codigo}}</td>
                                <td>{{AllInventory.producto}}</td>
                                <td>{{AllInventory.materia_prima}}</td>
                                <td>{{AllInventory.cantidad}}</td>
                                <td>{{AllInventory.unidades_disponibles}}</td>
                                <td>{{AllInventory.valor_gramo}}</td> -->
            
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="AllInventory.codigo">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{AllInventory.codigo}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="AllInventory.porcentaje">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{AllInventory.porcentaje}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
            
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="AllInventory.materia_prima">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{AllInventory.materia_prima}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="AllInventory.cantidad">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{AllInventory.cantidad}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="AllInventory.unidad">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{AllInventory.unidad}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="AllInventory.valor_gramo">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{AllInventory.valor_gramo}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>

    <p-dialog
        [(visible)]="productDialog"
        [style]="{width: '450px'}"
        header="Añadir productos"
        [modal]="true" >
        <ng-template pTemplate="content">
            <div class="form-wrapper">
                <form class="form"
                [formGroup]="addProducts" (ngSubmit)="submitForm()">
                    <div class="form--inputs">
                        <div class="form--inputs-fields">
                            <label for="id">codigo:</label>
                            <input pInputText type="text" id="id" formControlName="codigo">
                        </div>
                        <div class="form--inputs-fields">
                            <label for="materia_prima">Materia prima:</label>
                            <input  pInputText type="text" id="tipoProducto" formControlName="materia_prima">
                        </div>

                        <div class="form--inputs-fields">
                            <label for="producto">Porcentaje%</label>
                            <!-- <input pInputText type="text" id="proyecto" formControlName="porcentaje"> -->
                            <p-inputNumber id="proyecto" formControlName="porcentaje"></p-inputNumber>
                        </div>
                    
                        <div class="form--inputs-fields">
                            <label for="cantidad">Cantidad:</label>
                            <p-inputNumber id="nombreArchivo" formControlName="cantidad"></p-inputNumber>
                            <!-- <input pInputText type="text" id="nombreArchivo" formControlName="cantidad"> -->
                        </div>
                    
                        <div class="form--inputs-fields">
                            <label for="unidad">Unidad:</label>
                            <p-inputNumber id="cantidadPrototipos" formControlName="unidad"></p-inputNumber>
                            <!-- <input pInputText type="number" id="cantidadPrototipos" formControlName="cuantity_prototypes"> -->
                        </div>
                    
                        <div class="form--inputs-fields">
                            <label for="valor_gramo">Valor Gramo</label>
                            <!-- <input type="number" id="cantidadProduccion" formControlName="cuantity_prototypes_by_kg"> -->
                            <p-inputNumber id="cantidadProduccion" formControlName="valor_gramo"></p-inputNumber>
                        </div>
                
                    </div>
                </form>
            </div>
            
        </ng-template>
    
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" (click)="saveProduct()" [disabled]="!addProducts.valid"></button>
        </ng-template>
    </p-dialog>
</div>