<div class="card">
    <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
</div>

<div *ngIf="showHeader" class="header">
    <img src="../../../assets/img/logo-blanco.webp" alt="applabs">
    <div class="card flex justify-content-center">
        <p-toast></p-toast>
        <button pButton class="p-button-secondary p-button-outlined" type="button" (click)="navigateTo()" icon="pi pi-angle-double-left"></button>
    </div>
</div>

<div class="container">
    <div class="card--wrapper">
        <h1 class="card--wrapper--title">Gestion de inventario</h1>
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <!-- <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"></button>
                <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText type="text" placeholder="Consultar"
                        (input)="onSearch($event)" />
                </span>
            </ng-template>
    
            <ng-template pTemplate="right">
                <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Importar" chooseLabel="Importar" class="mx-4 inline-block"></p-fileUpload>
                <button pButton pRipple label="Guardar" (click)="save()" class="mx-4 p-button-primary"></button>
                <button pButton pRipple label="Limpiar" class="mx-4 p-button-danger"></button>
            </ng-template>
        </p-toolbar>
    
        <p-table
            [value]="AllInventory"
            responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}"
            selectionMode="multiple"
            [(selection)]="selectedProducts"
            [metaKeySelection]="true"
            dataKey="codigo"
            responsiveLayout="scroll">
    
            <ng-template pTemplate="header">
                <tr>
                    <th [ngStyle]="{'color': title.style }" *ngFor="let title of columnName">{{ title.header }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-AllInventory let-rowIndex="rowIndex">
                <tr [pSelectableRow]="AllInventory" [pSelectableRowIndex]="rowIndex">
                    <td>{{AllInventory.codigo}}</td>
                    <td>{{AllInventory.materia_prima}}</td>
                    <td>{{AllInventory.cantidad}}</td>
                    <td>{{AllInventory.unidad}}</td>
                    <td>{{AllInventory.ubicacion}}</td>
                    <td>{{AllInventory.proveedor}}</td>
                    <td>{{AllInventory.fecha_de_vencimiento}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>