/* You can add global styles to this file, and also import other style files */
@import './assets/styles/variables.scss';

@font-face {
    font-family: 'Alpina-sans';
    src: url('./assets/fonts/AlpinaSans-Regular.woff2') format('woff2'),
    url('./assets/fonts/AlpinaSans-Light.woff2') format('woff2'),
    url('./assets/fonts/AlpinaSans-Regular.woff2') format('woff2'),
    url('./assets/fonts/AlpinaSans-Bold.woff2') format('woff2'),
    url('./assets/fonts/AlpinaSans-Black.woff2') format('woff2'),;
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Alpina-sans';
}

body {
    clear: both;
    margin: 0;
    height: 100vh;
    font-family: 'Alpina-sans';
    background: $cian-principal-color;
}

// h1, h2, h3, h4, h5 {
//     font-family: 'Alpina-sans';
// }